.button__drink__list {
  border: none;
  background-color: var(--amarillo);
  color: var(--blanco);
  font-family: var(--title);
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
