<div class="drink__card">
  <div class="drink__card__content">
    <picture>
      <source srcset="../../assets/icons/bebidasLista.avif" type="image/avif" />
      <source srcset="../../assets/icons/bebidasLista.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../../assets/icons/bebidasLista.png"
        width="500"
        height="300"
        class="icono-lista"
        alt="icono-lista"
      />
    </picture>
    <h3 class="drink__title"></h3>
    <p class="drink__instruccion">
      Conoce todas las deliciosas bebidas que te podemos ofrecer, esperamos su
      siguiente visita con gusto.
    </p>
    <a href="#/drinkMenu" id="" class="button__drink__list">Ver todos los tragos</a>
  </div>
</div>
