@forward '../src/sass/utilities';
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --negro: #090909;
  --blanco: #F1ECE7;
  --amarillo: #F2AA1F;
  --azul: #114358;
  --title: 'Merriweather Sans', sans-serif;
  --text:  'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: var(--text);
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  display: block;
  max-width: 100%;
}

.main-container {
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
