<section class="hero__container">
  <picture>
    <source srcset="../../assets/images/hero.avif" type="image/avif" />
    <source srcset="../../assets/images/hero.webp" type="image/webp" />
    <img
      loading="lazy"
      src="../../assets/images/hero.jpg"
      width="500"
      height="300"
      class="hero"
      alt="imagen del icono"
    />
  </picture>
  <h2 class="servicios__title">Nuestros servicios</h2>
</section>

<section class="servicios">
  <div class="comida">
    <picture>
      <source srcset="../../assets/icons/comida.avif" type="image/avif" />
      <source srcset="../../assets/icons/comida.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../../assets/icons/comida.png"
        width="500"
        height="300"
        class="servicio__icon"
        alt="imagen del icono"
      />
    </picture>
    <p class="servicio__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae
      officia temporibus distinctio vitae totam quidem labore accusantium
      aliquam, minima, delectus obcaecati fugit, ipsam hic cupiditate. Sed
      asperiores fuga dolorum!
    </p>
  </div>

  <div class="bebidas">
    <picture>
      <source srcset="../../assets/icons/bebida.avif" type="image/avif" />
      <source srcset="../../assets/icons/bebida.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../../assets/icons/bebida.png"
        width="500"
        height="300"
        class="servicio__icon"
        alt="imagen del icono"
      />
    </picture>
    <p class="servicio__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae
      officia temporibus distinctio vitae totam quidem labore accusantium
      aliquam, minima, delectus obcaecati fugit, ipsam hic cupiditate. Sed
      asperiores fuga dolorum!
    </p>
  </div>

  <div class="cuarto">
    <picture>
      <source srcset="../../assets/icons/cuarto.avif" type="image/avif" />
      <source srcset="../../assets/icons/cuarto.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../../assets/icons/cuarto.png"
        width="500"
        height="300"
        class="servicio__icon"
        alt="imagen del icono"
      />
    </picture>
    <p class="servicio__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae
      officia temporibus distinctio vitae totam quidem labore accusantium
      aliquam, minima, delectus obcaecati fugit, ipsam hic cupiditate. Sed
      asperiores fuga dolorum!
    </p>
  </div>
</section>

<section class="nosotros">
  <div class="nosotros-grid">
    <div class="nosotros-text-container">
      <h3>Nosotros</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quas at,
        a dignissimos illum temporibus reiciendis incidunt labore dolores nihil
        eveniet, excepturi similique. Excepturi nobis cupiditate error nulla
        atque ipsum.
      </p>
    </div>
  </div>
</section>

<main class="drinks">
  <div class="slider__container"></div>
</main>
